body {
    font-family: Helvetica, Arial, sans-serif;
    font-size: 17px;
}


.navbar-nav > li > a {
    color: gray;
}

a {
    color: black;
}

.row {
    /* height: 570px; */
    margin-bottom: 10px;
}

h5 {
    font-size: 20px;
    font-weight: --p-font-weight-semibold;
    padding-left: .05rem;
    padding-right: .05rem;
}

p {
    padding-left: .05rem;
    padding-right: .05rem;
}

li,
p {
  line-height: 1.5;
}

li:hover {
    color:#c59d5f;
    font-weight:bold;
}

.ptitle {
    color:#c59d5f;
    font-size: 19px;
}

.priceColor {
    color:#c59d5f;
}

.ahover:hover {
    color: #a67326;
    font-size: 20px;
}

.phover:hover {
    color: #a67326;
}

.arTile {
    font-size: 19px;
    font-weight: normal;
}

@media (min-width: 576px) {
    .container, .container-sm { 
        max-width: 740px;
    }
}
@media (min-width: 770px) {
    .container, .container-sm { 
        max-width: 990px;
    }
}